#card-group {
    max-width: 86%;
    margin-left: 130px;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.card {
    width: 12%;
    height: 0;
    margin-bottom: .5%;
    padding-bottom: 19%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.3);
    transition: all .125s ease-in;
    transform-style: preserve-3d;
    &:hover, &:focus, &:active {
        transform: scale(1.075);
        z-index: 9;
        box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.7);
    }
}
.card-front, .card-back {
    border: 2px solid white;
    border-radius: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $sea-fog;
    background: url('../images/patterns/seamless-paper-texture.png') repeat;
    background-clip: padding-box;
    backface-visibility: hidden;
}
.flipped, .flipped:hover, .flipped:active, .flipped:focus {
    transform: rotateY(180deg);
    background-color: lighten($sea-fog, 5%);
    transition: transform .1s linear;
}
.matched {
    border-color: #A4BBB7;
    transform: all 5s ease-in;
    &:hover, &:focus, &:active {
        box-shadow: none;
    }
}
span[class^="house-"], span.the-dothraki, span.the-nights-watch, span.the-wildlings {
    background-size: 13px;
    height: 13px;
    width: 13px;
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
    margin: 10px 10px 0 0;
}
.house-stark {
    background: url('../images/house-stark.png');
}
.house-lannister {
    background: url('../images/house-lannister.png');
}
.house-baratheon {
    background: url('../images/house-baratheon-stannis.png');
}
.house-baelish {
    background: url('../images/house-baelish.png');
}
.the-wildlings {
    background: url('../images/the-wildlings.png');
}
.the-nights-watch {
    background: url('../images/the-nights-watch.png');
}
.the-dothraki {
    background: url('../images/the-dothraki.png');
}
.house-greyjoy {
    background: url('../images/house-greyjoy.png');
}
.house-targaryen {
    background: url('../images/house-targaryen.png');
}
.house-arryn {
    background: url('../images/house-arryn.png');
}
.house-tully {
    background: url('../images/house-tully.png');
}
.house-martell {
    background: url('../images/house-martell.png');
}
.house-tyrell {
    background: url('../images/house-tyrell.png');
}
.house-bolton {
    background: url('../images/house-bolton.png');
}
.kahl-drogo {
    background: url('../images/drogo.png') no-repeat;
}
.eddard-stark {
    background: url('../images/eddard.png') no-repeat;
}
.jaime-lannister {
    background: url('../images/jaime.png') no-repeat;
}
.tyrion-lannister {
    background: url('../images/tyrion.png') no-repeat;
}
.arya-stark {
    background: url('../images/arya-stark.png') no-repeat;
}
.the-hound {
    background: url('../images/the-hound.png') no-repeat;
}
.theon-greyjoy {
    background: url('../images/theon-greyjoy.png') no-repeat;
}
.littlefinger {
    background: url('../images/petyr-baelish.png') no-repeat;
}
.daenerys-targaryen {
    background: url('../images/daenerys-targaryen.png') no-repeat;
}
.jon-snow {
    background: url('../images/jon-snow.png') no-repeat;
}
.ygritte {
    background: url('../images/ygritte.png') no-repeat;
}
.stannis-baratheon {
    background: url('../images/stannis-baratheon.png') no-repeat;
}
.card-front {
    transform: rotateY(180deg);
    background-size: auto 125%;
    background-position: center 10%;
    .dead:after {
        content: "\2020";
        font-size: 1.125em;
        font-weight: bold;
        margin: 15px 0 0 10px;
        color: $cardinal;
    }
    .character-info {
        background-color: #F8F6ED;
        background-color: rgba(250, 248, 240, .95);
        border-radius: 0 0 12px 12px;
        padding: 5px;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 17%;
    }
    .character-name, .house-name {
        text-align: center;
        line-height: .8;
    }
    .character-name {
        font-size: .90em;
        font-weight: bold;
    }
    .house-name {
        font-size: .55em;
        letter-spacing: .125em;
        text-transform: uppercase;
    }
}
