doctype html
html(class="no-js", lang="en")
    include header
    body
        head
            div.logo
        include nav
        div(id="game-over", class="reveal-modal", data-reveal)
            a.close-reveal-modal &#215;
            img(src="../images/joffrey-clapping-game-of-thrones.gif", alt="Joeffrey Clapping")
            h3 You've matched all cards in <strong><span id="number-of-moves"></span></strong> moves.
        div#card-group
            div.card
                div.card-back
                div.card-front.kahl-drogo
                    div.character-info
                        h2.character-name Kahl Drogo
                        h3.house-name The Dothraki
                    span.the-dothraki
                    span.dead
            div.card
                div.card-back
                div.card-front.kahl-drogo
                    div.character-info
                        h2.character-name Kahl Drogo
                        h3.house-name The Dothraki
                    span.the-dothraki
                    span.dead
            div.card
                div.card-back
                div.card-front.eddard-stark
                    div.character-info
                        h2.character-name Eddard Stark
                        h3.house-name House Stark
                    span.house-stark
                    span.dead
            div.card
                div.card-back
                div.card-front.eddard-stark
                    div.character-info
                        h2.character-name Eddard Stark
                        h3.house-name House Stark
                    span.house-stark
                    span.dead
            div.card
                div.card-back
                div.card-front.jaime-lannister
                    div.character-info
                        h2.character-name Jaime Lannister
                        h3.house-name House Lannister
                    span.house-lannister
            div.card
                div.card-back
                div.card-front.jaime-lannister
                    div.character-info
                        h2.character-name Jaime Lannister
                        h3.house-name House Lannister
                    span.house-lannister
            div.card
                div.card-back
                div.card-front.tyrion-lannister
                    div.character-info
                        h2.character-name Tyrion Lannister
                        h3.house-name House Lannister
                    span.house-lannister
            div.card
                div.card-back
                div.card-front.tyrion-lannister
                    div.character-info
                        h2.character-name Tyrion Lannister
                        h3.house-name House Lannister
                    span.house-lannister
            div.card
                div.card-back
                div.card-front.arya-stark
                    div.character-info
                        h2.character-name Arya Stark
                        h3.house-name House Stark
                    span.house-stark
            div.card
                div.card-back
                div.card-front.arya-stark
                    div.character-info
                        h2.character-name Arya Stark
                        h3.house-name House Stark
                    span.house-stark
            div.card
                div.card-back
                div.card-front.the-hound
                    div.character-info
                        h2.character-name "The Hound"
                        h3.house-name House Lannister
                    span.house-lannister
                    span.dead
            div.card
                div.card-back
                div.card-front.the-hound
                    div.character-info
                        h2.character-name "The Hound"
                        h3.house-name House Lannister
                    span.house-lannister
                    span.dead
            div.card
                div.card-back
                div.card-front.littlefinger
                    div.character-info
                        h2.character-name "Littlefinger"
                        h3.house-name House Baelish
                    span.house-baelish
            div.card
                div.card-back
                div.card-front.littlefinger
                    div.character-info
                        h2.character-name "Littlefinger"
                        h3.house-name House Baelish
                    span.house-baelish
            div.card
                div.card-back
                div.card-front.daenerys-targaryen
                    div.character-info
                        h2.character-name Daenerys Targaryen
                        h3.house-name House Targaryen
                    span.house-targaryen
            div.card
                div.card-back
                div.card-front.daenerys-targaryen
                    div.character-info
                        h2.character-name Daenerys Targaryen
                        h3.house-name House Targaryen
                    span.house-targaryen
            div.card
                div.card-back
                div.card-front.theon-greyjoy
                    div.character-info
                        h2.character-name Theon Greyjoy
                        h3.house-name House Greyjoy
                    span.house-greyjoy
            div.card
                div.card-back
                div.card-front.theon-greyjoy
                    div.character-info
                        h2.character-name Theon Greyjoy
                        h3.house-name House Greyjoy
                    span.house-greyjoy
            div.card
                div.card-back
                div.card-front.jon-snow
                    div.character-info
                        h2.character-name Jon Snow &amp; Ghost
                        h3.house-name The Night's Watch
                    span.the-nights-watch
            div.card
                div.card-back
                div.card-front.jon-snow
                    div.character-info
                        h2.character-name Jon Snow &amp; Ghost
                        h3.house-name The Night's Watch
                    span.the-nights-watch
            div.card
                div.card-back
                div.card-front.stannis-baratheon
                    div.character-info
                        h2.character-name Stannis Baratheon
                        h3.house-name House Baratheon
                    span.house-baratheon
            div.card
                div.card-back
                div.card-front.stannis-baratheon
                    div.character-info
                        h2.character-name Stannis Baratheon
                        h3.house-name House Baratheon
                    span.house-baratheon
            div.card
                div.card-back
                div.card-front.ygritte
                    div.character-info
                        h2.character-name Ygritte
                        h3.house-name The Wildlings
                    span.the-wildlings
                    span.dead
            div.card
                div.card-back
                div.card-front.ygritte
                    div.character-info
                        h2.character-name Ygritte
                        h3.house-name The Wildlings
                    span.the-wildlings
                    span.dead

        include footer